* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased !important;
  outline: none; }

a {
  text-decoration: none;
  outline: none !important; }

body {
  background: #141414;
  color: #e5e5e5;
  line-height: 1.1;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh; }
  body .container {
    width: 1200px;
    margin: 0 auto;
    height: 100vh; }
  body .header {
    width: 100%;
    height: 68px;
    padding: 0 4%;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    body .header img {
      width: 92.5px;
      display: inline-block; }
    body .header nav {
      margin-left: 30px;
      display: inline-block;
      width: 100%; }
      body .header nav ul {
        line-height: 14px; }
        body .header nav ul li {
          display: inline-block;
          list-style: none; }
          body .header nav ul li a {
            font-size: 14px;
            display: inline-block;
            list-style: none;
            padding: 0 10px;
            line-height: 14px;
            cursor: pointer;
            color: #e5e5e5;
            -webkit-transition: color 0.4s ease-in-out;
            -moz-transition: color 0.4s ease-in-out;
            -ms-transition: color 0.4s ease-in-out;
            -o-transition: color 0.4s ease-in-out;
            transition: color 0.4s ease-in-out; }
            body .header nav ul li a:hover {
              color: #b3b3b3; }
          body .header nav ul li:last-of-type {
            float: right; }
            body .header nav ul li:last-of-type a {
              color: #B81D24;
              font-weight: bold; }
              body .header nav ul li:last-of-type a:hover {
                color: #e81e25; }
  body .carousel-item {
    height: 435px;
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    body .carousel-item .box-left {
      height: 100%;
      width: 30%;
      background-color: #000;
      position: relative;
      -webkit-box-shadow: 34px 0px 80px 18px rgba(0, 0, 0, 0.96);
      -moz-box-shadow: 34px 0px 80px 18px rgba(0, 0, 0, 0.96);
      box-shadow: 34px 0px 80px 18px rgba(0, 0, 0, 0.96);
      z-index: 10; }
    body .carousel-item .movie-image {
      background-size: cover !important;
      background-repeat: no-repeat;
      background-position: center !important;
      height: 100%;
      width: 70%;
      -webkit-box-shadow: inset 200px 0px 102px -30px rgba(0, 0, 0, 0.8);
      -moz-box-shadow: inset 200px 0px 102px -30px rgba(0, 0, 0, 0.8);
      box-shadow: inset 200px 0px 102px -30px rgba(0, 0, 0, 0.8); }
    body .carousel-item .title-info {
      position: absolute;
      z-index: 10;
      max-width: 435px;
      margin-left: 4%;
      top: 20px;
      text-align: left;
      z-index: 100; }
      body .carousel-item .title-info h2 {
        text-align: left;
        font-size: 2.33em;
        color: white !important;
        font-family: "Roboto", sans-serif !important;
        margin-bottom: 5px; }
      body .carousel-item .title-info h3 {
        font-size: 1em;
        margin-bottom: 25px; }
      body .carousel-item .title-info p.overview {
        color: #999;
        margin-bottom: 5px;
        font-size: .9em;
        line-height: 1.3;
        cursor: pointer; }
        body .carousel-item .title-info p.overview:first-of-type {
          font-size: 1em;
          cursor: inherit; }
        body .carousel-item .title-info p.overview .hover:hover {
          color: #b3b3b3;
          text-decoration: underline; }
      body .carousel-item .title-info .up-down i {
        color: #999;
        font-size: 16px;
        border: 2px solid #999;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        margin: 15px 0 20px 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        transition: all .2s ease-in-out; }
        body .carousel-item .title-info .up-down i:hover {
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -ms-transform: scale(1.2);
          -o-transform: scale(1.2);
          transform: scale(1.2);
          color: white;
          border-color: white; }

.movie-container {
  position: relative;
  overflow: hidden; }
  .movie-container i {
    position: absolute;
    bottom: 2px;
    width: 4%;
    background: rgba(0, 0, 0, 0.4);
    height: 153px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    transform: translate3d(0, 0, 0); }
    .movie-container i:hover {
      background: rgba(0, 0, 0, 0.6); }
  .movie-container .back-arrow {
    left: -4.15%; }
  .movie-container .forward-arrow {
    right: 0; }
  .movie-container .movie-sections {
    margin-left: 4%; }
    .movie-container .movie-sections .section {
      position: relative;
      -webkit-user-select: none;
      /* Safari */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* IE10+/Edge */
      user-select: none;
      /* Standard */ }
    .movie-container .movie-sections .sections {
      margin: 25px 0 40px; }
      .movie-container .movie-sections .sections .title {
        color: #e5e5e5;
        font-size: 1.07em;
        margin-bottom: 10px; }
      .movie-container .movie-sections .sections .grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        transition: 0.3s -webkit-transform;
        transition: 0.3s transform;
        transition: 0.3s transform, 0.3s -webkit-transform; }
        .movie-container .movie-sections .sections .grid:hover {
          -webkit-transform: translate3d(-120px, 0, 0);
          transform: translate3d(-120px, 0, 0); }
        .movie-container .movie-sections .sections .grid .grid-item {
          position: relative;
          display: inline-block;
          line-height: 0;
          cursor: pointer;
          padding: 5px;
          overflow: hidden;
          width: 280px;
          height: 160px;
          transition: 0.3s -webkit-transform;
          transition: 0.3s transform;
          transition: 0.3s transform, 0.3s -webkit-transform;
          flex-shrink: 0;
          -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%; }
          .movie-container .movie-sections .sections .grid .grid-item:hover {
            -webkit-transform: scale(1.7) rotate(0.0001deg);
            -moz-transform: scale(1.7) rotate(0.0001deg);
            -ms-transform: scale(1.7) rotate(0.0001deg);
            -o-transform: scale(1.7) rotate(0.0001deg);
            transform: scale(1.7) rotate(0.0001deg); }
            .movie-container .movie-sections .sections .grid .grid-item:hover .grid-overlay, .movie-container .movie-sections .sections .grid .grid-item:hover .movie-details {
              opacity: 1; }
          .movie-container .movie-sections .sections .grid .grid-item .transform-me {
            image-rendering: optimizeQuality;
            transition: -webkit-transform 0.6s ease-out;
            -webkit-transition: -webkit-transform 0.6s ease-out;
            -o-transition: transform 0.6s ease-out;
            transition: transform 0.6s ease-out;
            transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
            -o-object-fit: cover;
            width: 100%; }
            .movie-container .movie-sections .sections .grid .grid-item .transform-me img {
              image-rendering: optimizeQuality;
              transition: -webkit-transform 0.6s ease-out;
              -webkit-transition: -webkit-transform 0.6s ease-out;
              -o-transition: transform 0.6s ease-out;
              transition: transform 0.6s ease-out;
              transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
              -o-object-fit: cover;
              width: 100%; }
          .movie-container .movie-sections .sections .grid .grid-item .movie-details {
            position: absolute;
            opacity: 0;
            right: 0;
            height: 100%;
            bottom: 0;
            left: 0;
            width: 100%;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: end;
            justify-content: flex-end;
            -webkit-transition: opacity 0.3s ease-out;
            -moz-transition: opacity 0.3s ease-out;
            -ms-transition: opacity 0.3s ease-out;
            -o-transition: opacity 0.3s ease-out;
            transition: opacity 0.3s ease-out;
            transform: translateZ(0);
            padding-bottom: 30px; }
            .movie-container .movie-sections .sections .grid .grid-item .movie-details p {
              color: white;
              font-size: 9px;
              text-shadow: 2px 1px 2px black; }
              .movie-container .movie-sections .sections .grid .grid-item .movie-details p:first-of-type {
                font-weight: bold;
                letter-spacing: .5px;
                margin-bottom: 20px;
                font-size: 9px; }
              .movie-container .movie-sections .sections .grid .grid-item .movie-details p .green {
                color: #40B95F;
                margin-right: 5px;
                font-weight: bold; }
              .movie-container .movie-sections .sections .grid .grid-item .movie-details p .rate {
                border: 1px solid white;
                padding: 0 2px;
                margin-right: 5px; }
              .movie-container .movie-sections .sections .grid .grid-item .movie-details p .duration {
                font-weight: bold; }
          .movie-container .movie-sections .sections .grid .grid-item .grid-overlay {
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.6);
            -webkit-transition: all 0.6s ease;
            -moz-transition: all 0.6s ease;
            -ms-transition: all 0.6s ease;
            -o-transition: all 0.6s ease;
            transition: all 0.6s ease; }

.grid-item:hover ~ .grid-item {
  -webkit-transform: translate3d(196px, 0, 0);
  transform: translate3d(196px, 0, 0); }

.slideContainer {
  padding: 30px 7vw;
  height: calc(100vh - 125px);
  display: flex;
  justify-content: center;
  border-top: 1px solid #e5e5e514;
  border-bottom: 1px solid #e5e5e514; }
  .slideContainer .seePlans {
    display: inline-block;
    font-size: 17px;
    font-family: 'Arial';
    background: #e50914;
    border-radius: 3px;
    margin: 15px auto;
    display: block;
    padding: 10px 50px;
    color: white;
    border: none;
    -webkit-transition: background 0.15s ease-in-out;
    -moz-transition: background 0.15s ease-in-out;
    -ms-transition: background 0.15s ease-in-out;
    -o-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out; }
    .slideContainer .seePlans:hover {
      background: #F6121D; }
  .slideContainer .continue {
    padding: 10px 100px; }
  .slideContainer .headline {
    font-size: 23px;
    font-weight: bold;
    margin: 10px 0; }
  .slideContainer .steps {
    font-size: 13px; }
  .slideContainer .dl {
    font-size: 17px;
    line-height: 1.3; }
  .slideContainer .slide1 {
    text-align: center;
    align-self: center; }
    .slideContainer .slide1 img {
      margin-bottom: 20px;
      width: 50px; }
  .slideContainer .slide2 {
    width: 100%; }
    .slideContainer .slide2 .planBoxes {
      width: 100%;
      display: flex;
      margin-top: 20px; }
      .slideContainer .slide2 .planBoxes .fillBox {
        width: 50%; }
      .slideContainer .slide2 .planBoxes .items {
        width: 50%;
        display: flex;
        justify-content: space-between; }
        .slideContainer .slide2 .planBoxes .items .box {
          width: 120px;
          height: 120px;
          margin: 0 15px;
          background: #EF6B72;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-size: 17px;
          font-weight: bold;
          border-radius: 3px;
          flex-shrink: 0;
          cursor: pointer; }
    .slideContainer .slide2 .plan-item {
      padding: 10px 0px;
      display: flex; }
      .slideContainer .slide2 .plan-item:nth-of-type(odd) {
        background: #222222; }
      .slideContainer .slide2 .plan-item p {
        font-size: 16px;
        padding: 0 15px;
        display: inline-block; }
      .slideContainer .slide2 .plan-item .first-item {
        width: 50%; }
      .slideContainer .slide2 .plan-item .items {
        width: 50%;
        display: flex;
        justify-content: space-between; }
        .slideContainer .slide2 .plan-item .items p {
          width: 120px;
          text-align: center;
          margin: 0 15px;
          flex-shrink: 0;
          color: #a6a6a6; }
  .slideContainer .slide3 {
    text-align: left; }
    .slideContainer .slide3 .dl {
      margin-bottom: 15px; }
    .slideContainer .slide3 form input {
      width: 369.73px;
      display: block;
      margin: 5px auto;
      padding: 14px; }
    .slideContainer .slide3 form .continue {
      width: 369.73px; }
  .slideContainer .slide4 p {
    line-height: 1.5;
    text-align: left; }
    .slideContainer .slide4 p .red {
      color: #e51e25; }

.movie {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 25px 4%; }
  .movie .movieInfo {
    height: 100%;
    padding-left: 30px; }
    .movie .movieInfo h1 {
      letter-spacing: 2px;
      font-weight: 600;
      margin-top: 0; }
    .movie .movieInfo p {
      font-size: 17px;
      letter-spacing: .75px;
      padding-bottom: 8px;
      line-height: 1.25; }

footer {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0; }
  footer img {
    width: 50px; }
  footer p {
    font-size: 11px;
    color: #868e96; }
  footer a {
    font-size: 16px;
    color: #868e96;
    text-decoration: none;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease; }
    footer a:hover {
      color: #a5aeb6; }

.notFound {
  font-size: 60px !important;
  height: calc(100vh - 120px) !important;
  display: flex;
  align-items: center;
  justify-content: center; }

/*# sourceMappingURL=styles.css.map */
